body{
    background-position:center;
    background-size:cover;
    font-family: 'Sevillana', cursive;
}
.heading
{
color:#26547C;
width: 100%;
text-align: left;
background-image:linear-gradient(45deg,#FFFCF9,#06D6A0,#FFD166,#EF476F,#26547C);
}
.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
    background-image:linear-gradient(45deg, #70D6FF, #FF70A6,#FF9770,#FFD670,#E9FF70);
}

#start ,#status, #restart
{
font-size: 22px;
background-image:linear-gradient(45deg, #70D6FF, #FF70A6,#FF9770,#FFD670,#E9FF70);
}

.modal-dialog
{
    width: 70%;
}
.modal-body
{
    text-align: left;
    font-size: 20px;
}
#footer{
    position:fixed;
    bottom:0;
    color:black;
    width:100%;
    line-height:2;
    background-image:linear-gradient(340deg,#FFFCF9,#06D6A0,#FFD166,#EF476F,#26547C);
    text-align:center;
    font-size:18;
}
canvas
  {
    border:5px solid black;
    border-radius:20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 100px;
    animation-iteration-count: infinite;
   
}

@keyframes example {

  from {box-shadow: 1px 1px 38px rgb(137, 161, 239);}
  to {box-shadow: 1px 1px 38px rgb(239, 156, 218);}
}
